body {
  background-image: url("../images/paris3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
hr {
  margin: 10px;
}
.container {
  border: 2px solid transparent;
  width: 300px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #27496d;
  background-color: #f4f4f4d2;
  font-weight: bold;
}
.menu {
  margin-top: 10px;
}
.todayInfo {
  text-align: right;
  margin-top: 30px;
  font-size: 18px;
}
.tempMaxMin {
  font-size: 12px;
}
.open-source-link {
  font-size: 15px;
  display: block;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  background-color: #142850c2;
  width: 300px;
}
.buttons .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.buttons .active:hover {
  text-decoration: none;
}
.tipMessage {
  text-align: center;
}
.hours,
.temp {
  font-size: 15px;
}
#tip {
  font-size: 15px;
}
#tempMinToday {
  font-size: 15px;
}
#adicionalInformations {
  font-size: 15px;
  text-align: center;
  height: 45px;
}
#searchIcon {
  border: none;
}
#inputCity {
  width: 120px;
  border-radius: 30px;
  border: none;
  background-color: #00919e41;
  text-align: center;
}
#searchIcon,
#locationIcon {
  border: none;
  background: none;
}
#celsiusButton:active {
  font-weight: bold;
}
#city {
  font-size: 50px;
  color: #142850;
}
#country {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 10px;
  color: #00909e;
}
#tempNow {
  font-size: 50px;
  display: block;
  position: relative;
  line-height: 30px;
}
#nextDaysWeather {
  background-color: #00919e41;
  line-height: 10px;
  margin: 10px auto;
  text-align: center;
  color: #27496d;
  border-radius: 30px;
  height: 45px;
  width: 270px;
  align-items: center;
}
#icons {
  display: block;
  text-align: center;
}
#nextDaysWeather h3,
#nextDaysWeather p {
  margin-bottom: 0;
}
#watherDescription {
  line-height: 20px;
  font-style: italic;
  margin-top: 0;
  font-size: 16px;
}
#day {
  margin-bottom: 0;
}
#collapseButton {
  display: block;
  margin: 0 auto;
  background-color: #27496d;
  border-radius: 50%;
}
